In [24]:
import numpy as np
import pandas as pd

In [25]:
data=pd.read_csv(r'C:\Users\DELL\Desktop\ML using python\files\play_data.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['outlook']=le.fit_transform(data['outlook'])
data['temp']=le.fit_transform(data['temp'])
data['humidity']=le.fit_transform(data['humidity'])
data['wind']=le.fit_transform(data['wind'])
data['play']=le.fit_transform(data['play'])
data.head()

  day  outlook  temp  humidity  wind  play
0  D1        2     1         0     1     0
1  D2        2     1         0     0     0
2  D3        0     1         0     1     1
3  D4        1     2         0     1     1
4  D5        1     0         1     1     1

In [27]:
x=data[['outlook','temp','humidity','wind']].values
y=data['play'].values

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [35]:
from sklearn.preprocessing import StandardScaler
x_train = StandardScaler().fit_transform(x_train)
x_test = StandardScaler().fit_transform(x_test)

In [36]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,accuracy_score

In [37]:
classifier=GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB()

In [38]:
y_pred=classifier.predict(x_test)
y_pred

array([1, 0, 1, 1, 1])

In [39]:
cm = confusion_matrix(y_pred,y_test)
cm

array([[1, 0],
       [1, 3]], dtype=int64)

In [40]:
acc = accuracy_score(y_pred,y_test)*100
acc

80.0

In [41]:
model=classifier.predict([[2,0,0,0]])
if model == 1:
    print("play")
else:
    print("not play")

play